footer {
  font-size: 20px;
  font-family: Unbounded, sans-serif;
  box-shadow: 0px -7px 10px 1px rgba(65, 65, 68, 0.1411764706);

  .container {
    .footer_start {
      justify-content: space-between;
      align-items: start;
      margin-bottom: 50px;
      display: flex;
      flex: 1 1 200px;
      justify-items: center;
      padding: 20px;
      margin-bottom: 20px;

      @media (max-width: 1200px) {
        flex-wrap: wrap;
        gap: 25px;
      }
      // FOOTER LEFT
      .footer_left {
        a {
          img {
            width: 300px;

            @media (max-width: 350px) {
              width: clamp(200px, 100%, 600px);
            }

            @media (max-width: 250px) {
              width: clamp(150px, 100%, 300px);
            }
          }
        }

        .footer_left_text {
          max-width: 400px;
          margin-top: 30px;
          color: #908d8ddd;
        }
      }

      // FOOTER MENU
      .footer_menu {
        width: 150px;

        nav {
          ul {
            li {
              list-style: none;

              a {
                text-decoration: none;
                font-family: Unbounded, sans-serif;
                color: #4e4e4e;
                font-weight: 600;
                transition: all cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                  color: #fc0000;
                }
              }
            }
          }
        }
      }

      // FOOTER CONTACT
      .footer_contact {
        .footer_contact_info {
          font-style: italic;

          .footer_contact_text {
            font-size: 16px;
            color: #4e4e4e;
            margin: 0 0 10px;
            font-weight: 600;

            a {
              text-decoration: none;
              color: #4e4e4e;

              &:hover {
                color: #fc0000;
              }
            }
          }
        }
      }

      // FOOTER RIGHT
      .footer_right {
        width: 400px;

        @media (max-width: 450px) {
          width: clamp(200px, 100%, 600px);
        }

        .footer_right_title {
          margin-bottom: 20px;
        }

        .footer_right_form {
          position: relative;
          font-size: 14px;

          .footer_right_input {
            width: 400px;
            padding: 20px;
            border-radius: 20px;
            border: 1px solid #555353;

            @media (max-width: 450px) {
              width: clamp(200px, 100%, 600px);
            }

            @media (max-width: 250px) {
              width: clamp(150px, 100%, 250px);
            }
          }
          .footer_right_btn {
            z-index: 10;
            position: absolute;
            right: 10px;
            top: 10px;
            bottom: 10px;
            margin: 0 auto;
            border: none;
            border-radius: 20px;
            background-color: rgb(255, 0, 0);
            padding: 10px;
            color: #fff;

            @media (max-width: 450px) {
              position: relative;
            }
          }
        }

        .footer_right_text {
          color: #4e4e4e;
          font-size: 16px;
          font-weight: 500;
          margin-top: 40px;
        }
      }
    }
  }
}

.footer_menu_title,
.footer_contact_title,
.footer_right_title {
  font-weight: bold;
  font-size: 32px;
  font-family: Unbounded, sans-serif;
}

.footer_right_title {
  font-size: 20px;
}

.footer_end {
  background-color: #000;
  .footer_end_text {
    color: #545454;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }
}
